.DS_Store
.idea

deployments.log

.htaccess
urlrewrite.php
/bitrix/backup
/bitrix/cache
/bitrix/crontab
/bitrix/managed_cache
/bitrix/managed_flags
/bitrix/catalog_export
/bitrix/modules/*.log
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/stack_cache
/bitrix/*.log
upload/resize_cache
/logs
/*.log
/*.sql
/*.txt
/*.xml
/*.dt
*.tmp